@model IEnumerable<Student>;      // นำเข้า models จาก StudentController, ใช้ IEnumerable เพื่อนำเข้า list
@{
    ViewData["Title"] = "หน้าแรก";       // เปลี่ยนชื่อบน browser
}

<h1 class="text-center">คะแนนสอบวิชาคอมพิวเตอร์</h1>
<table class="table table-light">
    <thead>
        <tr>
            <th>รหัสนักเรียน</th>
            <th>ชื่อนักเรียน</th>
            <th>คะแนนสอบ</th>
            <th>แก้ไข</th>
            <th>ลบ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)      // ใช้ loop for each ต้องใช้กับ List เท่านั้น คือ ดึงข้อมูลทั้งหมดจาก Model แล้วเก็บค่าใน student
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Score</td>
                <td>
                    <a class="btn btn-warning" 
                    asp-controller="Student" 
                    asp-action="Edit"
                    asp-route-id="@student.Id">แก้ไข</a>
                </td>
                <td>
                    <a class="btn btn-danger"
                    asp-controller="Student"
                    asp-action="Delete"
                    asp-route-id="@student.Id"
                    onclick="return confirm('คุณต้องการลบ @student.Name หรือไม่ ?')"
                    >ลบ</a>
                </td>
            </tr>
        }
    </tbody>
</table>


